.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header-menu a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  display: grid;
  gap: 20px;
  place-content: center;
  background-color: #fff;
  text-align: right;
  padding: 50px;
}

#introducao-titulo {
  font-size: 32px;
}

.introducao-botao {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--botoes);
  padding: 1rem 2rem;
  border-radius: 4px;
  place-self: flex-end;
}

.introducao-capa img {
  display: grid;
  object-fit: cover;
  object-position: top right;
  height: 100%;
}

.subtitulo {
  display: grid;
  text-transform: uppercase;
  text-align: right;
  padding: 50px;
  color: var(--cor-secundaria);
  background: url("/img/onda.svg");
  align-self: center;
}

.vantagens {
  display: grid;
  padding: 50px;
  background-color: #fff;
}

.item {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
  gap: 20px;
  border: 4px solid transparent;
}

.item p {
  grid-column: 2;
}

.item:nth-child(odd) {
  background-color: var(--cor-primaria);
}

.footer {
  padding: 50px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  font-size: 20px;
}

/* configurações gerais */
:root {
  --cor-primaria: #f7f7f7;
  --cor-secundaria: #c6c6c6;
  --botoes: #ee2211;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  gap: 60px;
  margin-top: 60px;
  background-color: var(--cor-primaria);
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

h2 {
  font-size: 64px;
}

img {
  max-width: 100%;
  display: block;
}

@media (max-width: 1100px) {
  body {
    gap: 40px;
    margin-top: 40px;
  }
  .subtitulo {
    grid-column: 1 / -1;
    grid-row: 2;
    text-align: center;
  }
  .vantagens {
    grid-column: 1 / -1;
    grid-row: 3;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
  .introducao {
    text-align: left;
  }
  .introducao-botao {
    place-self: start;
  }
  .subtitulo {
    grid-row: 3;
  }
  .subtitulo {
    font-size: 3rem;
  }
  .vantagens {
    grid-row: 4;
  }
  .header {
    grid-auto-flow: row;
  }
}

@media(max-width: 500px) {
  .subtitulo h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 400px) {
  .subtitulo h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}