.header {
  display: grid;
  justify-items: center;
  gap: 60px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header-menu a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 4px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  padding: 0px 60px;
}

.introducao {
  display: grid;
  gap: 20px;
  place-content: center;
  background-color: #fff;
  text-align: right;
  padding: 50px;
}

.introducao-titulo {
  font-size: 32px;
}

.introducao-botao {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--botoes);
  padding: 1rem 2rem;
  border-radius: 4px;
  place-self: flex-end;
}

.imagem {
  display: grid;
  object-fit: cover;
  object-position: top right;
  height: 100%;
}

/* configurações gerais */
:root {
  --cor-primaria: #f7f7f7;
  --cor-secundaria: #c6c6c6;
  --botoes: #ee2211;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  gap: 60px;
  margin-top: 60px;
  background-color: var(--cor-primaria);
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

h2 {
  font-size: 64px;
}

img {
  max-width: 100%;
  display: block;
}
